<ion-view name="login-view">
    <ion-content class="background-color">

        <div class="text-logo-block">
            <div ng-include="'img/logo/mesh-text-logo-around-artwork.svg'"></div>
        </div>

        <div class="beeld-logo-block">
              <div ng-include="'img/logo/mesh-logo.svg'"></div>
        </div>



        <div class="buttons-block">
            <div class="login-block">
              <button class="button button-royal button-raised round-button"  ui-sref="login">
                    Log in
                  </button>
            </div>

           <div class="register-block">
              <button  class="button button-calm  button-raised round-button" ui-sref="register">
                  Sign Up
              </button>
           </div>


       </div>





    </ion-content>
</ion-view>
