<ion-view  name="login-view">
    <ion-content scroll="true">
        
        
        <div class="custom-transparent-header">
           <i class="ion-arrow-left-c" ui-sref="home"></i>
        </div> 
       
       <div class="avatar-block">
            
            <button ng-click="test()" class="item button-avatar">
               
                <img src="img/avatar.png"alt="" width="50%" class="avatar-img">    
            </button>   
        
       </div>   
       
            
      <div class="content-block">  
            
       <div class="buttons-login-block">  
            
            
            <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
           
            </div>
                    
            
        
            <div class="user-login-block">
                <button  class="button button-calm  button-raised round-button" ng-click="login()">
                    Log in
                </button>
            </div>
        </div>
      </div>  
              
    </ion-content>
</ion-view>
