<ion-view name="login-view">
    <ion-content scroll="true">


        <div class="custom-transparent-header">
            <i class="ion-arrow-left-c" ui-sref="home"></i>
        </div>

        <div class="avatar-block">
                <img src="img/avatar.png" alt="" width="50%" class="avatar-img">
        </div>

        <div class="content-block">

            <div class="buttons-login-block">

                <form name="signinForm" ng-submit="signIn(signinForm)">
                    <script id="templates/form-errors.html" type="text/ng-template">
                        <div class="form-error" ng-message="required">This field is required.</div>
                        <div class="form-error" ng-message="username">This username is required.</div>
                        <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.</div>
                        <div class="form-error" ng-message="maxlength">This field is must be less than characters</div>
                    </script>
<!--<<<<<<< HEAD-->
                    <!--<label class="item item-input"-->
                           <!--ng-class="{ 'has-error-lr' : signinForm.email.$invalid   }">-->
<!--=======-->
                    <div class="list">
                    <label class="item item-input item-floating-label"
                           ng-class="{ 'has-error-lr' : loginForm.email.$invalid }">
                        <span class="input-label">Email</span>
                        <input placeholder="Email" type="email"
                               name="email"
                               ng-model="user.username"
                               required>
                    </label>
                    <div class="form-errors"
                         ng-show="signinForm.username.$error && signinForm.$submitted"
                         ng-messages="signinForm.username.$error"
                         ng-messages-include="templates/form-errors.html">
                    </div>

                    <label class="item item-input  item-floating-label"
                           ng-class="{ 'has-error-lr' : loginForm.password.$invalid  }">
                        <span class="input-label">Password</span>
                        <input placeholder="Password" type="password"
                               name="password"
                               ng-model="user.password"
                               ng-minlength="8"
                               required>
                    </label>
                  </div>


                    <div class="user-login-block">
                        <button class="button button-calm  button-raised round-button" ng-click="login()" >
                            Log in
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </ion-content>
</ion-view>
