<ion-view>
    <ion-nav-title>
        title
    </ion-nav-title>
    <ion-content  ng-controller="loginController">
        <div class="login padding"></div>
        <form name="myForm" novalidate>
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="email" name="username" placeholder="{{ 'placeholder_username' | translate}}" ng-model="login.username" required>
                </label>
                <label class="item item-input">
                    <input type="password" name="password" placeholder="{{ 'placeholder_password' | translate}}" ng-model="login.password" ng-minlength="6" required>
                </label>
            </div>
            <div class="padding">
                <p ng-show="myForm.username.$error.required" translate >username_error_required</p>
                <p ng-show="myForm.username.$invalid && !myForm.username.$pristine" translate >username_invalid_email</p>
                <p ng-show="myForm.password.$error.required" translate >password_error_required</p>
                <p ng-show="myForm.password.$error.minlength" translate >password_error_minLength</p>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="signin()" translate>login_button_text</button>
            </div>
        </form>
    </ion-content>
</ion-view>