<script>
    $clientSideList = [
        {text: "Backbone", value: "bb"},
        {text: "Angular", value: "ng"},
        {text: "Ember", value: "em"},
        {text: "Knockout", value: "ko"}
    ];
    console.log($clientSideList);
</script>


<ion-view name="register-view">
    <ion-content scrolling="true">

        <div class="custom-color-header">
            <i class="ion-arrow-left-c" ui-sref="home"></i>
        </div>

        <div class="content-block">

            <div class="buttons-register-block">

                <form name="registerForm" ng-submit="register(registerForm)">
                    <script id="templates/form-errors.html" type="text/ng-template">
                        <div class="form-error" ng-message="required">This field is required.</div>
                        <div class="form-error" ng-message="minlength">This field is must be at least 5 characters.
                        </div>
                        <div class="form-error" ng-message="maxlength">This field is must be less than 50 characters.
                        </div>
                        <div class="form-error" ng-message="email">This field should contain an emailaddress.</div>
                    </script>


                    <div class="list">
                        <label class="item item-input item-floating-label"
                               ng-class="{ 'has-error-lr' : registerForm.email.$invalid }">
                            <span class="input-label">Email</span>
                            <input placeholder="Email" type="email"
                                   name="email"
                                   ng-model="user.username"
                                   required>
                        </label>
                        <label class="item item-input item-floating-label"
                               ng-class="{ 'has-error-lr' : registerForm.password.$invalid  }">
                            <span class="input-label">Password</span>
                            <input placeholder="Password" type="password"
                                   name="password"
                                   ng-model="user.password"
                                   ng-minlength="8"
                                   required>
                        </label>
                        <label class="item item-input item-floating-label"
                               ng-class="{ 'has-error-lr' : registerForm.firstname.$invalid }">
                            <span class="input-label">Firstname</span>
                            <input placeholder="Firstname" type="text"
                                   name="firstname"
                                   ng-model="user.firstname"
                                   required>
                        </label>
                        <label class="item item-input item-floating-label"
                               ng-class="{ 'has-error-lr' : registerForm.lastname.$invalid }">
                            <span class="input-label">Lastname</span>
                            <input placeholder="Lastname" type="text"
                                   name="lastname"
                                   ng-model="user.lastname"
                                   required>
                        </label>
                        <label class="item item-input item-floating-label"
                               ng-class="{ 'has-error-lr' : registerForm.age.$invalid }">
                            <span class="input-label">Age</span>
                            <input placeholder="Age" type="number"
                                   name="age"
                                   ng-model="user.age"
                                   required>
                        </label>
                        <br>
                        <div class="list">
                            <ion-radio
                                    ng-value="'m'"
                                    ng-model="user.sex">
                                Male
                            </ion-radio>
                            <ion-radio
                                    ng-value="'f'"
                                    ng-model="user.sex">
                                Female
                            </ion-radio>

                        </div>
                        <div class="form-errors"
                             ng-show="registerForm.password.$error && registerForm.$submitted"
                             ng-show="registerForm.password.$error && registerForm.$submitted"
                             ng-messages="registerForm.password.$error"
                             ng-messages-include="templates/form-errors.html">
                        </div>
                    </div>
                </form>
            </div>


            <div class="interest-block">
                <div class="img-block">

                    <img class="img-padding" src="img/svg-elements/svg/settings.svg" width="65px" alt="">
                    <img class="img-padding" src="img/svg-elements/svg/balance.svg" width="65px" alt="">
                    <img class="img-padding" src="img/svg-elements/svg/television.svg" width="65px" alt="">
                    <img class="img-padding" src="img/svg-elements/svg/photo-camera.svg" width="65px" alt="">

                    <img class="img-padding" src="img/svg-elements/svg/medal.svg" width="65px" alt="">
                    <img class="img-padding" src="img/svg-elements/svg/house.svg" width="65px" alt="">
                    <img class="img-padding" src="img/svg-elements/svg/smartphone.svg" width="65px" alt="">
                    <img class="img-padding" src="img/svg-elements/svg/picture.svg" width="65px" alt="">
                    <img class="img-padding" src="img/svg-elements/svg/photo-camera.svg" width="65px" alt="">

                </div>
            </div>


            <div class="user-register-block">
                <button class="button button-calm  button-raised round-button" ng-click="register()">
                    Register
                </button>
            </div>


        </div>

    </ion-content>
</ion-view>
