<ion-view view-title="Mesh">

  <ion-side-menus>
    <ion-side-menu-content>


  <div class="bar bar-header custom-color-header" style="position: static;">
    <div class="buttons buttons-left header-item">
      <span class="left-buttons">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
       </span>
    </div>
  </div>

   <div class="list animate-ripple">
    <a class="item item-avatar">
      <img src="../img/people/men.png">
      <h2>Ben</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
     <a class="item item-avatar">
      <img src="../img/people/girl.png">
      <h2>Rachel</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
     <a class="item item-avatar">
      <img src="../img/people/men2.png">
      <h2>Gideon</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
     <a class="item item-avatar">
      <img src="../img/people/men3.png">
      <h2>Ismael</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
  </div>

   </ion-side-menu-content>

   <ion-side-menu side="left">
     <ion-list>
       <ion-item>
         MESHES
       </ion-item>
        <ion-item>
         STATE
       </ion-item>
        <ion-item>
         PROFILE
       </ion-item>
     </ion-list>
     </ion-side-menu>

   </ion-side-menus>




</ion-view>
