<ion-view view-title="Find">
  <ion-content>

     <div ng-init="numbers = [1,2,3,4,5,6,7,8,9]">
      <input type="text" ng-model="q">
      <div ng-repeat="number in numbers | filter:q " class="slide">
        {{number}}
      </div> 
     </div>
     
     <button class="button button-fab button-balanced icon ion-leaf slide"  ng-model="checked" ng-init="checked=true">
      
     </button>
      <span ng-if="checked" class="animate-if">
  This is removed when the checkbox is unchecked.
</span>

<label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>
Show when checked:
<span ng-if="checked" class="animate-if">
  This is removed when the checkbox is unchecked.
</span>
  </ion-content>
</ion-view>
