.interest-block{
    margin-top:15%;
}

.img-block{
    text-align: center;
}

.img-padding{
    padding:5px;
}
.user-login-block{
    margin-bottom:10%;
}
custom-color-header{
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, #85D8CE, #085078); 

}