<ion-view name="login-view">
  <ion-content scroll="true">
      
      
       <div class="custom-color-header">
            <i class="ion-arrow-left-c"></i>
        </div> 
        
       <!--<div class="content-block">  -->
           
            
       <div class="buttons-login-block">  
            
            
            <div class="list">
              <label class="item item-input item-floating-label">
                  <span class="input-label">Username</span>
                  <input type="text" placeholder="Username" ng-model="data.username">
              </label>
              <label class="item item-input item-floating-label">
                  <span class="input-label">Password</span>
                  <input type="password" placeholder="Password" ng-model="data.password">
              </label>
              <label class="item item-input item-floating-label">
                  <span class="input-label">Email</span>
                  <input type="password" placeholder="Email" ng-model="data.email">
              </label>
            </div>
            
            <div class="interest-block">
              
               
                
               <div class="img-block">
              
                <img class="img-padding" src="img/svg-elements/svg/settings.svg" width="65px" alt="">
                <img class="img-padding" src="img/svg-elements/svg/balance.svg" width="65px" alt="">
                <img class="img-padding" src="img/svg-elements/svg/television.svg" width="65px" alt="">
                <img class="img-padding" src="img/svg-elements/svg/photo-camera.svg" width="65px" alt="">
                
                 <img class="img-padding" src="img/svg-elements/svg/medal.svg" width="65px" alt="">
                <img class="img-padding" src="img/svg-elements/svg/house.svg" width="65px" alt="">
                <img class="img-padding" src="img/svg-elements/svg/smartphone.svg" width="65px" alt="">
                <img class="img-padding" src="img/svg-elements/svg/picture.svg" width="65px" alt="">
                <img class="img-padding" src="img/svg-elements/svg/photo-camera.svg" width="65px" alt="">
               
                                
                
              </div>
            </div>
                    
            
        
            <div class="user-login-block">
                <button  class="button button-calm  button-raised round-button" ng-click="register()">
                    Register
                </button>
            </div>
        
        </div>
      <!--</div>  -->
      
     
  </ion-content>
</ion-view>