.background-color{
   background: linear-gradient(to bottom right, #85D8CE, #085078);
   /*background: linear-gradient(to bottom right, #16222A, #3A6073); */


}

.beeld-logo-block{
   margin-top:15%;
}

.text-logo-block{
   margin-top:15%;
}

#text-logo{
    display: block;
    margin: auto;

}

.buttons-block{
    margin:auto;
    margin-top:35%;
    width: 75%;

}

.register-block{
    margin-top:5%;

}

.round-button{
    width: 100%;
    border-radius:25px !important;

}


.text-button{
    margin:0 auto;
    color: white !important;
}

#Layer_1{
 display: block;
 margin:auto;
 width: 30%;
}
