.background-color{
   background: linear-gradient(to bottom right, #85D8CE, #085078);
   /*background: linear-gradient(to bottom right, #16222A, #3A6073); */
}

.text-logo-block{
   margin:auto;
   margin-top: 10%;
   width:75%;
   
}

#svg-text-logo{
    width: 100%;
    height: 100%;
}

.beeld-logo-block{
    margin: auto;
    margin-top:-5%;
    width: 100%;
 
    
}

#svg-beeld-logo{
    margin-top:25%;
    width: 100%;
    height: 100%;
    padding-left: 20%;
    padding-right:20%;
    
}

#men1{
    animation: slide-men1 5s ease

}
@keyframes slide-men1{
    0%{
        transform: translate3d(-500px,0px,0px);
    }
    50%{
        transform: translate3d(0px,0px,0px);
    }
    100%{
        transform: translate3d(0px,0px,0px);
    }
}

#men2{
    animation: slide-men2 5s ease
}
@keyframes slide-men2{
    0%{
        transform: translate3d(+500px,0px,0px);
    }
    50%{
        transform: translate3d(0px,0px,0px);
    }
    100%{
        transform: translate3d(0px,0px,0px);
    }
}
#middle{
    animation: opacity 5s ease;
    animation-fill-mode: forwards;
}
@keyframes opacity {
     0%{
        transform: translate3d(0px,0px,0px);         
        opacity: 1;
    }
    50%{
        transform: translate3d(0px,0px,0px);
        opacity: .5
    }
  
    100%{
        transform: translate3d(0px,0px,0px);        
        opacity: 0;
    }
}

.buttons-block{
    margin:auto;
    margin-top:15%;
    width: 75%;
}

.register-block{
    margin-top:5%;
    margin-bottom: 15%;

}

.round-button{
    width: 100%;
    border-radius:25px !important;

}
.text-button{
    margin:0 auto;
    color: white !important;
}


/*#poly-1{
    animation: slide 4s infinite

}
/*#poly-2{
    animation: slide 4s infinite

}
#poly-3{
    animation: slide 4s infinite

}
#poly-4{
    animation: slide 4s infinite

}
#poly-5{
    animation: slide 4s infinite

}
#poly-6{
    animation: slide 4s infinite

}
#poly-7{
    animation: slide 4s infinite

}*/
