/* Empty. Add your own CSS if you like */

/*.button-stable{
    background-color: red !important;
}*/

i.ion-arrow-left-c{
    font-size: 48px;
    line-height: 50px;
    margin-left:10px;
    color: white;
}